<!doctype html>
<html lang="en">
    <head>
        <title>Node Express Mongoose Mondodb Blog</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/blog.css">
    </head>
    <body>
        <div class="page-header">
            <a href="/logout" class="top-menu">Logout</a>
            <a href="/users" class="top-menu">Users</a>
            <a href="javascript:void(0)" class="top-menu">Welcome {{ sess.username }}</a>
            <h1><a href="/dashboard">Node.js User Login</a></h1>
        </div>
        <div class="content container">