{% include 'includes/header.twig' %}
<div class="row">
	<h1>
		<span>User List</span>
	</h1>
	<hr/>
	<div class="col-md-12">
		{{ messages() }}
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Username</th>
					<th>Published</th>
				</tr>
			</thead>
			<tbody>	
				{% for user in users %}
					<tr>
						<td><a href="#">{{ user.username|capitalize }}</a></td>
						<td class="date">
							<p>Published: {{ user.created_at }}</p>
						</td>
					</tr>
				{% endfor %}
			</body>
		</table>
	</div>
</div>
{% include 'includes/footer.twig' %}