{% include 'includes/header.twig' %}
<div class="row">
	<div class="col-md-6">
		<form method="post" action="/user/save"> 
			<div><input type="hidden" name="csrf" value="csrf" /></div>
			<div class="form-group">
				<label for="title">Username:</label>
				<input type="text" class="form-control" name="user[username]" value="{{ username }}" >
			</div>
			<div class="form-group">
				<label for="title">Username:</label>
				<input type="text" class="form-control" name="user[password]" value="{{ password }}" >
			</div>
			<input type="submit" value="Save User" name="submit" class="btn btn-primary"/>
		</form>
	</div>
</div>
{% include 'includes/footer.twig' %}